.contact-banner {
    background: url(../../assets/bannerbg2.png) no-repeat center center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    text-align: center;
}

.contact-banner h2 {
    color: white;
    font-family: "Red Hat Display", sans-serif;
    position: relative;
    text-shadow: 2px 2px #121212;
    letter-spacing: 2px;
    letter-spacing: 2px;
    margin: 0;
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 0.5px solid rgb(245, 245, 245, 0.5);
    font-size: 40px;
}

.contact-container {
    margin: 0;
    padding: 0;
}

.contact-details {
    height: 180px;
    width: 100%;
    background-color: #FFFF00;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-locations {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(#FFFF00 0%, #121212 50%);
}

.contact-info {
    color: black;
}