.hero-section {
    height: 360px;
    background: url('./assets/ContactsBG.png') no-repeat center -450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.hero-section h1 {
    margin-top: 3rem;
    color: white;
}

.contact-container {
    min-height: 600px;
}

.contact-maps {
    background-color: #B2E8B2;
    min-width: 480px;
    min-height: 600px;
}

.contact-address {
    background-color: #D9D9D9;
    min-width: 360px;
    min-height: 480px;
}

.contact-details {
    min-width: 360px;
    min-height: 480px;
}