.hero-section {
    height: 280px;
    background-color: #B2E8B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container {
    min-height: 600px;
}

.contact-maps {
    background-color: #B2E8B2;
    min-width: 480px;
    min-height: 600px;
}

.contact-address {
    background-color: #D9D9D9;
    min-width: 360px;
    min-height: 480px;
}

.contact-details {
    min-width: 360px;
    min-height: 480px;
}