:root {
  --heading: "Red Hat Display", sans-serif;
  --normal-text: "Red Hat Text", sans-serif;

  --text-color: #001804;
}

/* HOME HERO SECTION STYLES */

.homehero-section {
  position: relative;
  height: 50vh;
  background: url(./assets/bannerbg2.png) no-repeat center center;
}

.homehero-slogan-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.homehero-slogan1 {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: 100%;
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 64px;
  font-family: var(--heading);
  margin-bottom: -1rem;
  padding-bottom: 0;
  text-shadow: 2px 2px #121212;
}
.homehero-slogan2 {
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 112px;
  text-shadow: 2px 2px #121212;
}

.home-services {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-services h3 {
  font-family: var(--heading);
  margin-bottom: 0;
}

.services-card {
  padding: 0.5rem;
  margin: 0.5rem 0;
  height: 4rem;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s;
}

.services-card:hover {
  transform: scale(1.05);
}

.our-services {
  background: none;
}
.our-services:hover {
  transform: none;
}

.more-services {
  border-style: none;
  font-family: var(--normal-text);
  font-weight: 500;
  margin-left: auto;
  background: none;
}
.more-services:hover {
  transform: none;
}

.view-more {
  margin-left: auto;
  padding-top: 0.75rem;
}
.view-more-text {
  color: var(--text-color);
}
.view-more-text:hover {
  color: var(--text-color);
}

.arrow-animation {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    transform: rotate(135deg) scale(1.25);
  }
  100% {
    opacity: 1;
  }
}

.icon-container {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.service-icon {
  width: 40px;
  height: 40px;
}

.bg-icon-container {
  overflow: hidden;
}

.bg-icon {
  position: absolute;
  opacity: 0.1;
  width: 100px;
  top: -1rem;
  left: calc(100% - 30%);
}

.our-services {
  border-style: none;
  align-items: center;
  justify-content: center;
}

.service-text {
  margin-left: 1rem;
  font-family: var(--normal-text);
  font-weight: 500;
}

/* FEATURED CLIENT STYLES */

.featured-clients {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #c1fcd3;
}

.featured-clients h3 {
  text-align: center;
  font-family: var(--heading);
  color: var(--text-color);
}

.clients-logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  padding: 0;
}

.logo-row {
  margin: 0 auto;
}

.featured-clients .container {
  overflow: hidden;
}

.container .slider {
  animation: slidein 90s linear infinite;
  white-space: nowrap;
  width: 379%;
}

.container .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* OUR PRODUCTS SECTION STYLES */

.home-projects-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-projects-section h3 {
  font-family: var(--heading);
  color: var(--text-color);
}

.project-card-row {
  padding-top: 1rem;
}

.project-card {
  width: 253px;
  height: 400px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 75%;
}

/* FOOTER STYLES */

.footer {
  background: #121212;
  color: #f5f5f5;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: var(--normal-text);
}

#footer-logo {
  width: 200px;
  height: 200px;
}

.footer h6 {
  font-family: var(--heading);
  color: #f5f5f5;
}

.footer h3,
.footer p {
  color: #f5f5f5;
}

.footer-logo-container {
  padding-left: 0;
}

.footer h3 {
  font-family: var(--heading);
}

.copyright {
  margin: auto;
  padding-left: 0;
  color: #f5f5f5;
}

.branches-list {
  list-style: none;
  margin-left: -2rem;
}

.footer-contact {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 0.25rem;
}

.footer-link {
  color: #f5f5f5;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-icon {
  color: #f5f5f5;
  margin-right: 1rem;
}

.footer-nav-links {
  color: #f5f5f5;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.footer-nav-links:hover {
  text-decoration: underline;
  color: #f5f5f5;
}

.footer-contact a:hover {
  color: #f5f5f5;
}

/* About Styles */

.about-hero {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
  padding-bottom: 1rem;
}

.about-heading {
  background: url(./assets/bannerbg2.png) no-repeat center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  text-align: center;
}

.about-title {
  color: white;
  font-family: var(--heading);
  position: relative;
  text-shadow: 2px 2px #121212;
  letter-spacing: 2px;
  letter-spacing: 2px;
  margin: 0;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgb(245, 245, 245, 0.5);
  font-size: 40px;
}

.about-subtitle {
  color: black;
  letter-spacing: 7px;
  font-family: var(--heading);
  padding-top: 1rem;
  position: relative;
}

.first-section {
  padding-top: 5rem ;
  padding-bottom: 5rem;
}

.about-des {
  color: black;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgb(245, 245, 245, 0.5);
}

.about-description {
  position: relative;
}

#about > div > div > div > div > div > p:nth-child(4) {
  margin-bottom: 0;
}

.mission-vision {
  padding-top: 5rem;
  background-color: #c1fcd3;
}

.mv-row {
  height: 400px
}

.our-mission {
  height: 100%;
}
.our-mission-img {
  height: 100%;
}

.mission-title {
  position: relative;
  animation: mymovetitle 2s;
  padding-bottom: 1rem;
}

.about-logo {
  transform: scale(50%);
}

.vision-title {
  position: relative;
  animation: mymovetitle 2s;
}

.our-mission {
  font-family: var(--normal-text);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.our-vision {
  font-family: var(--normal-text);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.about h2,
p,
li {
  font-family: var(--normal-text);
}

.mission-message {
  position: relative;
}


.vision-message {
  position: relative;
}
.documents-img {
  background-color: #ffffff;
}

.documents-title {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.docu-property {
  width: 50%;
  height: 60%;
}

.docu-details {
  font-family: var(--normal-text);
  color: #001804;
}

/* SERVICES PAGE STYLES */

.services-page {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.services-banner {
  background: url(./assets/bannerbg2.png) no-repeat center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  text-align: center;
}
.services-banner h2 {
  color: white;
  font-family: var(--heading);
  position: relative;
  text-shadow: 2px 2px #121212;
  letter-spacing: 2px;
  margin: 0;
  padding: 2rem 0;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgb(245, 245, 245, 0.5);
  font-size: 40px;
}
.services-subtitle {
  font-family: var(--normal-text);
  color: #121212;
  position: relative;
  text-shadow: 1px 1px #f5f5f5;
  text-align: left;
  padding: 1rem 80px;
}

.services-title {
  position: relative;
  align-self: center;
  text-align: center;
  font-family: var(--normal-text);
  width: 30%;
  font-family: var(--heading);
}
.services-title h2 {
  margin: 0;
}

.services-slider {
  margin: 0 1rem 2rem 1rem;
}

.services-page-card {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: relative;
}

.black-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.062);
  position: absolute;
}

.services-page-card-title {
  position: absolute;
  color: #f5f5f5;
  background-color: rgba(18, 18, 18, 0.8);
  top: 10%;
  right: 0;
  margin-bottom: 0;
  padding: 0.5rem;
  border-radius: 8px 0 0 8px;
  font-family: var(--heading);
  width: auto;
}

/* PRODUCTS PAGE STYLING */

.products-banner {
  background: url(./assets/bannerbg2.png) no-repeat center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  text-align: center;
}

.products-banner h2 {
  color: white;
  font-family: var(--heading);
  position: relative;
  text-shadow: 2px 2px #121212;
  letter-spacing: 2px;
  letter-spacing: 2px;
  margin: 0;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgb(245, 245, 245, 0.5);
  font-size: 40px;
}

.fp-section h3 {
  font-family: var(--heading);
  margin: 0;
  padding: 1.5rem 0 0.5rem 0;
}

.fprow1 {
  height: auto;
  padding: 0.5rem 0;
}

.fprow2 {
  height: auto;
  padding: 0.5rem 0;
}

.product-card {
  max-height: 50vh;
  overflow: hidden;
  border-radius: 0;
}

.fp-product-img {
  object-fit: contain;
}

.ap-section h3 {
  font-family: var(--heading);
  margin: 0;
  padding: 1.5rem 0 0.5rem 0;
}

/*  MOBILE RESPONSIVENESS */

@media only screen and (max-width: 600px) {

  /* HOME PAGE STYLING - MOBILE */

  /* ABOUT PAGE STYLING - MOBILE */

  /* CONTACT PAGE STYLING - MOBILE*/

  /* PRODUCTS PAGE STYLING - MOBILE*/

  /* SERVICES PAGE STYLING - MOBILE */
  .services-banner {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .services-content {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
    height: auto;
    width: 92%;
    padding: 1rem;
    padding-top: 1.5rem;
  }
  .services-banner h2 {
    padding: 0;
  }
  .services-subtitle {
    padding: 0;
    margin: 0;
    width: inherit;
    margin: 0 auto;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
  .services-subtitle p {
    margin: 0;
  }
  .services-page-card-container {
    padding: 0.5rem;
  }
  .services-page-card-title {
    font-size: 16px;
    text-align: right;
    width: auto;
  }
  #root > div > div.services-page.container > div > div.slick-list > div > div:nth-child(6) > div > div > div > div > div.services-page-card-title.card-title.h5 {
    margin-left: 3.5rem;
  }
  .services-slider {
    margin: 0 0 2rem 0;
  }
  .services-page {
    overflow-x: hidden;
  }

  /* FOOTER STYLES - MOBILE */
  .footer {
    padding: 2rem 1rem 1rem 1rem;
  }
  .footer img {
    margin-left: 1rem;
  }
  #footer-logo {
    width: 100px;
    height: 100px;
  }
  .footer-address {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 1rem 2rem 0 1rem;
  }
  .footer-address h6, .footer-address p{
    margin-bottom: 0.5rem;
  }
  .footer-address li {
    margin-bottom: 0.1rem;
  }
  .footer hr {
    margin: 0.5rem -1rem;
    background-color: #f5f5f5;
  }
  .footer-copyright div {
    display: block;
  }
  .copyright {
    padding-top: 0.25rem;
    padding-left: 1rem;
    font-size: 15px;
  }
  .footer .hide-in-mobile {
    display: none;
  }
  .footer-copyright .nav-item {
    display: inline-flex;
    font-size: small;
  }
  .footer-copyright .nav-item .footer-nav-links {
    padding: 4px;
  }
  .footer-nav-links-parent {
    padding-top: 0.25rem;
    margin: -4px;
  }
}