:root {
  --heading: "Red Hat Display", sans-serif;
  --normal-text: "Red Hat Text", sans-serif;

  --text-color: #001804;
}

/* HOME HERO SECTION STYLES */


.home-services {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-services h3 {
  font-family: var(--heading);
  margin-bottom: 0;
}

.services-card {
  padding: 0.5rem;
  margin: 0.5rem 0;
  height: 4rem;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: transform .2s;
}

.services-card:hover {
  transform: scale(1.05);
}

.our-services {
  background: none;
}
.our-services:hover {
  transform: none;
}

.more-services {
  border-style: none;
  font-family: var(--normal-text);
  font-weight: 500;
  margin-left: auto;
  background: none;
}
.more-services:hover {
  transform: none;
}

.view-more {
  margin-left: auto;
  padding-top:0.75rem;
}
.view-more-text {
  color: var(--text-color);
}
.view-more-text:hover {
  color: var(--text-color);
}

.arrow-animation {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    transform: rotate(135deg) scale(1.25);
  }
  100% {
    opacity: 1;
  }
}

.icon-container {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.service-icon {
  width: 40px;
  height: 40px;
}

.bg-icon-container {
  overflow: hidden;
}

.bg-icon {
  position: absolute;
  opacity: 0.1;
  width: 100px;
  top: -1rem;
  left: calc(100% - 30%);
}

.our-services {
  border-style: none;
  align-items: center;
  justify-content: center;
}

.service-text {
  margin-left: 1rem;
  font-family: var(--normal-text);
  font-weight: 500;
}


/* FEATURED CLIENT STYLES */

.featured-clients {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #c1fcd3;
}

.featured-clients h3 {
  text-align: center;
  font-family: var(--heading);
  color: var(--text-color);
}

.clients-logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  padding: 0;
}

.logo-row {
  margin: 0 auto;
}

.featured-clients .container {
  overflow: hidden;
}

.container .slider {
  animation: slidein 90s linear infinite;
  white-space: nowrap;
  width: 379%;
}

.container .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* OUR PRODUCTS SECTION STYLES */

.home-projects-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.home-projects-section h3 {
  font-family: var(--heading);
  color: var(--text-color);
}

.project-card-row {
  padding-top: 1rem;
}

.project-card {
  width: 253px;
  height: 400px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 75%;
}

/* FOOTER STYLES */

.footer {
  background: rgb(12,205,163);
  background: linear-gradient(0deg, rgba(12,205,163,1) 0%, rgba(48,214,173,1) 14%, rgba(193,252,211,1) 100%);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: var(--normal-text);
}

#footer-logo {
  width: 200px;
  height: 200px;
}

.footer h6 {
  font-family: var(--heading);
  color: var(--text-color);
}

.footer h3,
.footer p {
  color: var(--text-color);
}

.footer-logo-container {
  padding-left: 0;
}

.footer h3 {
  font-family: var(--heading);
}

.copyright {
  margin: auto;
  padding-left: 0;color: 
  var(--text-color);
}

.branches-list {
  list-style: none;
  margin-left: -2rem;
}

.footer-contact {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 0.25rem;
}

.footer-link {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-icon {
  color: var(--text-color);
  margin-right: 1rem;
}

.footer-nav-links {
  color: var(--text-color);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.footer-nav-links:hover {
  text-decoration: underline;
  color: var(--text-color);
}

/* About Styles */


.about-heading{
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.about-title{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: var(--normal-text);
  position: relative;
  animation: mymovetitle 2s;
}

@keyframes mymovetitle {
  from {top: 50px; opacity: 0;}
  to {top: 0px; opacity:1;}
}

.about-subtitle{
  letter-spacing: 7px;
  font-family: var(--normal-text);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 1rem;
  position: relative;
  animation: mymovesubtitle 2s;
}

@keyframes mymovesubtitle {
  from {left: 100px; opacity: 0;}
  to {left: 0px; opacity: 1;}
}

.about-des{
  background-color: #c1fcd3;
  border-style: solid;
  border-radius: 10px;
  border-color: #c1fcd3;
  position: relative;
  animation: fade-in 2s;
}
@keyframes fade-in{
  from {opacity: 0;}
  to {opacity: 1;}
}

.about-description{
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
  animation: mymovedescription 2s;
}

@keyframes mymovedescription {
  from {right: 100px; opacity: 0;}
  to {right: 0px; opacity: 1;}
}

.mission-vision{
  background-color: #c1fcd3; 
}

.mission-title{
  position: relative;
  animation: mymovetitle 2s;
  padding-bottom: 1rem;

}

.vision-title{
  position: relative;
  animation: mymovetitle 2s;
}

.our-mission{
  font-family: var(--normal-text);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.our-vision{
  font-family: var(--normal-text);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.about h2, p, li{
  font-family: var(--normal-text);
}

.mission-message{
  position: relative;
  animation: lefttoright 2s;
}

@keyframes lefttoright {
  from {right: 100px; opacity: 0;}
  to {right: 0px; opacity: 1;}
}

.vision-message{
  position: relative;
  animation: rightorleft 2s;
}

@keyframes rightorleft {
  from {left: 100px; opacity: 0;}
  to {left: 0px; opacity: 1;}
}

.documents-img{
  background-color: #ffffff;
}

.documents-title{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.docu-property{
  width: 50%;
  height: 60%;
}

.docu-details{
  font-family: var(--normal-text);
  color: #001804;
}